@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Gabarito:wght@400;600;700&family=Inter:wght@100;200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5c5;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

.font-gabarito {
  font-family: "Gabarito", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#dark {
  background-color: #273746;
  height: 100vh;
  color: #fff;
}

#light {
  background-color: f5f5f5c5;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 0.7rem;
  border: 2px solid #e5e7e9;
  background-color: #e5e7e9;
  padding: 1rem 2rem;
  margin: 0.2rem 0;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

#dark .btn {
  color: #333;
}

#dark .get-started {
  border: 2px solid #a367d8;
}

#dark .get-started:hover {
  background: #a367d8;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-option {
  width: 60%;
  text-align: left;
}

.btn-ui {
  background-color: #a367d8;
  color: #fff;
  margin-top: 1rem;
  width: 20%;
}

#dark .btn-ui {
  border: 1px solid #a367d8;
  color: #fff;
}

.btn-restart {
  background-color: #333;
  color: #fff;
  margin-top: 1rem;
  width: 20%;
}

#dark .btn-restart {
  background: #fff;
  color: #111;
}

.btn-option.wrong {
  background-color: #f08080;
  border: 2px solid #f08080;
}
.btn-option.correct {
  background-color: #67d8a7;
  border: 2px solid #67d8a7;
}

.answer {
  transform: translateX(2rem);
}

.result {
  background-color: #a56adaeb;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  padding: 1.8rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2rem;
  margin-right: 4px;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 12px;
  grid-column: 1 / -1;
  border-radius: 50px;
  margin-left: 8rem;
}

::-webkit-progress-bar {
  background-color: #c1cdd7;
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: #a367d8;
  border-radius: 100px;
}

.timer {
  float: left;
  font-size: 1.1rem;
  color: #fff;
  background-color: #eb984e;
  border: 2px solid #eb984e;
  padding: 0.4rem 2.4rem;
  border-radius: 100px;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}
